body{
    background-color: black;
}
h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
.color-blue{
    color:blue !important;
}
.header{
    margin-bottom:5px;
    b
}
h1,p,h5{
    color:blue !important;
}
.button-style{
    width: 100px;
    overflow: hidden;
    border-radius: 5px;
    color: blue ;
    border: solid 1px rgba(0, 0, 0, 0.15) ;
    background-color: white ;
}
.button-style:active{
    border-radius: 5px;
    color: white ;
    border: 1px rgba(0, 0, 0, 0.15) ;
    background-color: blue ;
}
.bottom-shadow-minimal {
  /* X-offset | Y-offset | Blur | Spread | Color */
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.15);
}
.member-a-style{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15)!important;
}
.whatreport{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nav-link-margin{
    margin: 10px;
}
.grid-template-4{
    grid-template-columns: repeat(4,auto);
    gap: 20px;
}
.member-grid-logo-title{
    grid-template-columns: repeat(2,auto);
}
.nav-link{
    color: blue !important;
}
.navbar-toggler{
    display: none;
}
.members-card{
    grid-template-columns: repeat(5,auto);
    gap: 10px;
}
.activator:active{
    background-color: blue;
    color: white;
}
.home-report-grid{
    grid-template-columns: repeat(3,auto);
}
@media(max-width:768px){
    .home-report-grid{
    grid-template-columns: repeat(1,auto);
}
    .grid-template-4{
        grid-template-columns: repeat(1,auto);
    }
    .navbar-toggler{
        display: block;
    }
    .navs{
        display: none;
    }
}
@media(max-width:400px){
     .grid-template-4{
        grid-template-columns: repeat(1,auto);
    }
}